<div class="row">
  <div class="col-2">
    <div id="history">
    </div>
  </div>
  <div class="col-4">
    <div class="row">
      <div id="chessboard"></div>
    </div>
  </div>
  <h2>Import Lichess Game</h2>
  <%= form_for @lichess_game do |f| %>
    <%= f.label :id %>
    <%= f.text_field :id %>
    <%= submit_tag 'Import' %>
  <% end %>
</div>

