<div class="row">
  <div class="col-2">
    <div id="history">
    </div>
  </div>
  <div class="col-4">
    <div class="row">
      <div id="chessboard"></div>
    </div>
  </div>
  <%= form_tag do %>
    Lichess ID
    <%= text_field_tag :lichess_id %>
    <%= submit_tag 'Import Game' %>
  <% end %>
</div>

<script type="module">
  import { Chessboard } from 'chessboard';
  const game = new Chessboard(
    document.getElementById('chessboard')
  );
</script>
