<div class="row">
  <div class="col-4 offset-2">
    <div class="row">
      <div id="chessboard"></div>
    </div>
    <div class="row-fluid game__navbar">
      <div class="nav-btn"><button class="btn btn-primary" id="startMove"><i class="bi bi-skip-backward"></i></button></div>
      <div class="nav-btn"><button class="btn btn-primary" id="backMove"><i class="bi bi-rewind"></i></button></div>
      <div class="nav-btn"><button class="btn btn-primary" id="forwardMove"><i class="bi bi-fast-forward"></i></button></div>
      <div class="nav-btn"><button class="btn btn-primary" id="endMove"><i class="bi bi-skip-forward"></i></button></div>
      <div class="nav-btn"><button class="btn btn-primary" id="createPuzzle"><i class="bi bi-file"></i></button></div>
    </div>
  </div>
</div>

<script type="module">
  import { Chessgame } from 'chessgame';
  const pgn = '<%= j @game.pgn %>';
  const game = new Chessgame(document.getElementById('chessboard'), pgn);
</script>
